*.class

# Package Files #
*.jar
*.war
*.ear

.DS_Store

nbactions.xml

dependency-reduced-pom.xml

target/classes/gm/conf/settings.conf

target/maven-archiver/pom.properties

target/surefire-reports/TEST-org.greyhope.gf.monitoring.AppTest.xml

target/surefire-reports/org.greyhope.gf.monitoring.AppTest.txt

target/test-classes/.netbeans_automatic_build
